<h1>FAQ</h1>

<ol>
    <li>
        <span class="faq-title">
            Posso giocare anche se non sono connesso a internet?
        </span>
        <p>
            Non è possibile, è un sito web, in caso di interruzione della connessione, la partita ripartirà dal punto in cui è caduta la connessione, senza variazione di punti o secondi.
        </p>
    </li>

    <li>
        <span class="faq-title">
            Modalità di salvataggio dati, come faccio a essere sicuro che la app abbia salvato i dati di gioco?
        </span>
        <p>
          A ogni tocco dello schermo il sito salva il dato. Il sito fornisce alert in caso di errore.
        </p>
    </li>

    <li>
        <span class="faq-title">
          Posso uscire e interrompere il gioco?
        </span>
        <p>
          Si, se viene chiuso il sito, alla riapertura il gioco riprende da dove è stato interrotto (va in pausa)
        </p>
    </li>

    <li>
        <span class="faq-title">
          Cosa succede se salta il collegamento a internet?
        </span>
        <p>
          Compare un alert che avvisa che manca la connessione e non è possibile giocare.
        </p>
    </li>

    <li>
        <span class="faq-title">
            Chi posso chiamare se noto delle anomalie nell’effettuare i giochi?
        </span>

        <p>
          Per qualunque problema tecnico specifico del’I-pad chiamare come da prassi l’help desk aziendale, che provvederà a girare la mail al supporto tecnico nel caso in cui sia pertinente al gioco e non al dispositivo.
        </p>
    </li>

    <li>
        <span class="faq-title">
          Chi posso contattare in caso di anomalie del gioco?
        </span>
        <p>
          Per problemi tecnici pertinenti al gioco è possibile contattare l'help desk all'indirizzo email usalehelpdesk@gmail.com. Per problemi legati a dispositivi mobili e PC professionali contattare come di norma l'help desk aziendale di riferimento.
        </p>
    </li>

    <li>
        <span class="faq-title">
          Posso utilizzare lo smart-phone per giocare?
        </span>
        <p>
            NO
        </p>
    </li>

    <li>
        <span class="faq-title">
          Dove posso consultare la guida al primo accesso?
        </span>
        <p>
            <a href="assets/istruzioni_primo_accesso_usale_v2.pdf?t=2" target="_blank">Cliccando qui</a>
        </p>
    </li>

    <li>
        <span class="faq-title">
          È possibile vedere un game prima di iniziare a giocare per capire meglio come funziona?
        </span>
        <p>
            <a href="assets/cocacola_app_presentazione_v2.pdf?t=2" target="_blank">Clicca qui</a> per visionare il .pdf con la guida al primo game.
        </p>
    </li>

    <li>
        <span class="faq-title">
          È possibile giocare in modalità incognito/privato?
        </span>
        <p>
          No, non è possibile.
        </p>
    </li>

    <li>
        <span class="faq-title">
          Ho ricevuto la comunicazione del nuovo gioco ma non riesco ancora a giocarci.
        </span>
        <p>
            L'operazione di aggiornamento potrebbe richiedere qualche ora al massimo. A breve il nuovo gioco sarà disponbile per tutti.
        </p>
    </li>
</ol>

<h5>PER QUALUNQUE PROBLEMA PRIMA DI CHIEDERE IL SUPPORTO TECNICO CONSULTARE IL REGOLAMENTO E LE FAQ.</h5>
