<nav class="navbar navbar-toggleable-md navbar-inverse fixed-top bg-inverse">
  <button class="navbar-toggler navbar-toggler-right hidden-lg-up" type="button" data-toggle="collapse" data-target="#navbarTop">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" [routerLink]="['/']"><img src="assets/usale-small.png" /></a>

  <div class="collapse navbar-collapse" id="navbarTop">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" data-toggle="dropdown" id="Preview" href="#" role="button">
          {{user.name}} {{user.surname}}
        </a>
        <div class="dropdown-menu dropdown-menu-right">
          <a class="dropdown-item" [routerLink]="['/logout']">Logout</a>
        </div>
      </li>
    </ul>
  </div>
</nav>